
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import url('https://fonts.googleapis.com/css?family=Chewy');

h1{
    display: flex;
    text-align: center;
}
body {
    color:#52bab3;
}

// Layout
main {
    color: #52bab3;
    margin: 0 auto;
    width: 90%;
}
banner.video {
    width:100%;
    height: 300px;
}
div.intro{
    font-family:'Chewy', cursive;
    display: flex;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

figure.profile{
    background-color: #52bab3;
}
// Flexbox Layout
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article figure {
  padding: 2em;
  width: 20em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}





