
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";

h1{
    text-align: center;
}
body {
    background: #ccc;
}

// Layout
main {
    background: #fff;
    margin: 0 auto;
    width: 90%;
}
div{
    margin: 20px 20px 20px 20px;
}
// RWD header img
main header img {
    width: 100%;
    max-width: 100%;
}
img{
    align-content: center;
}

// Random Backgrounds
.bg0 {
  background: lightblue;
}

.bg1 {
  background: lightpink;
}

.bg2 {
  background: lightgreen;
}

// Portfolio Items
// Flexbox Layout
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article figure {
  background: white;
  padding: 2em;
  width: 20em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}





